*{
    color: black;
}

body{
    position: relative;
    overflow-y: auto !important;
}

header{
    position: relative;
    background: green;
    height: 100px;
}

.CompanyName{
    color: #ffffff;
    font-size: 20px;
    width: 50%;
}

.CompanyLogo{
    width: 80px;
    height: 80px;
    margin-left: 0.2rem;
    border-radius: 50px;
}

#Menu{
   background: transparent;
   display: none;
}

#MenuClose{
    display: none;
}

input{
    color: black;
}

textarea{
    color: black;
}

.SendButton{
    background: forestgreen;
}

#ContactHolder{
    background: forestgreen;
    width: 93%;
    margin: auto;
}

.PoweringCompany{
    color: forestgreen;
    font-size: 18px;
}

.Motto{
    position: absolute;
    color: white;
    bottom: 5%;
    left: 25%;
    font-size: 12px;
}