*{
    color: black;
}

body{
    overflow-y: auto;
}

header{
    position: relative;
    background: green;
}

.LeftText{
    color: #fff;
    margin-left: 0.1rem;
}

.CompanyLogo{
    width: 95%;
    height: 50%;
}