*{
    color: black;
}

body{
    position: relative;
    overflow-y: auto !important;
}

header{
    position: relative;
    background: green;
    height: 100px;
}

.CompanyName{
    color: #ffffff;
    font-size: 20px;
    width: 50%;
}

.CompanyLogo{
    width: 80px;
    height: 80px;
    margin-left: 0.2rem;
    border-radius: 50px;
}

#Menu{
   background: transparent;
   display: none;
}

#MenuClose{
    display: none;
}

input{
    color: black;
}

textarea{
    color: black;
}

.SendButton{
    background: forestgreen;
}

#ContactHolder{
    background: forestgreen;
    width: 93%;
    margin: auto;
}

.PoweringCompany{
    color: forestgreen;
    font-size: 18px;
}

.Motto{
    position: absolute;
    color: white;
    bottom: 5%;
    left: 25%;
    font-size: 12px;
}

#DonateSection{
    background: gray;
}

.Donate{
    color: white;
    font-size: 25px;
}

.MainImage{
    position: relative;
    height: auto;
    width: 95%;
    margin-top: 2%;
    border-radius: 10px;
}

.Season{
    font-size: 30px;
    border: 1px solid #cdcdcd50;
    width: 50%;
    padding: 2%;
    border-radius: 20px;
}

.MainFooter{
    background: #00000080;
    height: 50%;
}

.Message{
    color: #ffffff;
}

.SubMessage{
    color: #ffffff;
}

.SlideDiv{
    position: relative;
    height: 300px;
    background: transparent;
}

#QuraBanMessage{
    padding: 0 10%;
}

.QurabanImage{
    object-fit: contain;
}